// Colors

$main-color: #b78c57;
$secondary-color: #fff;
$text-color: #000;
$services-bg-color: #353434;

// Font-sizes
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-18: 18px; // Header Menu Font-size, Slider Description
$fs-22: 22px; // Main Block Headers
$fs-24: 24px; 
$fs-30: 30px; // Slider Header