.services-item {
    background: $services-bg-color;
    padding: 50px;
    color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    transition: all .2s;

    &:hover {
        box-shadow: 0 12px 24px rgba(0,0,0,.5);
        transform: translateY(-15px);
    }

    &:hover .services-item-text {
        color: $main-color;
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .services-item-text {
        backface-visibility: hidden;
        transition: .2s;
    }
}

// Services page
.services-image {
    width: 250px;
    height: 250px;
    background: $text-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-content {
    font-size: $fs-14;

    p {
        line-height: 25px;
        letter-spacing: 1px;
    }
}

.services-content-header {
    font-size: $fs-18;
    font-weight: bold;
    margin-bottom: 15px;
}