*, *:after, *:before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

.margin0 {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.container-fluid, .container, #works {
    padding-top: 100px;
    // padding-bottom: 100px;
}